# Entorno virtual
venv/

# Variables de entorno
.env

# Archivos de caché y compilación
__pycache__/
*.pyc
*.pyo

# Configuración local de VS Code
.vscode/

# Archivos temporales del sistema
*.log
*.tmp
.DS_Store
